
@{
    ViewData["Title"] = "Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script type="text/javascript" src="~/js/fullpage/contact-fullpage.js"></script>
}
<div class="section">
    <div class="slide active">
        <p>Aders</p>
        <p>Telefon</p>
        <p>e-mail</p>
    </div>
</div>
