@{
   ViewData["Title"] = "O nas";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section Scripts {
    <script type="text/javascript" src="~/js/fullpage/home-fullpage.js"></script>
}

<div class="section fp-auto-height">
    <div class="slide" style="margin-top: 115px; margin-bottom: 25px; color: #e32b48">
        <h3>
            -10% rabatu przy rezerwacji<br>
            terminów przed 1 Października
        </h3>
    </div>
</div>
<div class="section fp-auto-height">
    <div class="slide" style="margin-top: 115px; margin-bottom: 25px">
        <h3>
            Nie wiesz jak zadbać o ogrodzie?<br>
            Przygotowaliśmy dla ciebie kalendarz wszystkich prac w ogrodzie<br>
            Pobeirz kalendarz
        </h3>
    </div>
</div>
<div class="section">
    <div class="slide active">
        <p>Zaczynamy współprace od <b>bezpłatnej wizyty</b> bezpośrednio na <b>twoim terenie</b></p><p> <b>w wygodnym</b> dla ciebie <b>terminie</b> (od 7 do 19 codziennie z wyjątkiem niedzieli)</p>
        <br>
        <p>Najpierw wyślemy ci katalog pomysłów i inspiracji</p>
        <br>
        <p>Następnie decydujemy razem odnośnie tego, co ci się podoba</p>
        <br>
        <p>Następnie tworzymy koncepcję ogrodu, dobieramy rośliny i tworzymy projekt ogrodu, jeżeli tego potrzebujesz</p>
        <br>
        <p>Wykonujemy wszystkie niezbędne prace wykorzystując naszą wiedzę i doświadczenie</p>
    </div>
</div>
<div class="section">
    <div class="slide active">
        <p>Opinia klientów</p>
        <br>
        <p>Nasze klienty ocenią nas</p>
        <br>
        <p>Dodaj swoją opinię</p>
    </div>
</div>