
@{
    ViewData["Title"] = "Kariera";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script type="text/javascript" src="~/js/fullpage/career-fullpage.js"></script>
}
<div class="section">
    <div class="slide active">
        <p>Poszukujemy</p>
        <p>1. Pracownik fizyczny</p>
        <p>2. Brygadyr</p>
        <p>3. Projektant</p>
    </div>
</div>

