
@{
    ViewData["Title"] = "Oferta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script type="text/javascript" src="~/js/fullpage/offer-fullpage.js"></script>
}

<div class="section">
    <div class="slide active">
        <h2>Etap 1. Planowanie&ensp;<i class="fas fa-drafting-compass"></i></h2>
        <br>
        <ul>
            <li><i class="fas fa-check"></i>&ensp;koncepcja ogrodu dopasowane do twoich potrzeb</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;plan rozmieszczenia obiektów odręcznie</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;plan w 2D, 3D</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;lista dopasowanych roślin</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;plan systemu automatycznego nawadniania</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;plan odwodnienia</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;harmonogram prac</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;kosztorys materiałów</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;kosztorys wykonania prac</li>
        </ul>
    </div>
</div>
<div class="section">
    <div class="slide active">
        <h2>Etap 2. Realizacja twojego ogrodu&ensp;<i class="fas fa-wrench"></i></h2>
        <br>
        <ul>
            <li><i class="fas fa-check"></i>&ensp;przygotowanie terenu</li>
        </ul>
        <div class="slide-content">
            <div class="slide-content-child">
                <img src="img/wycinka.jpg" class="section-image">
                <br>
                wycinka drzew i krzewów
            </div>
            <div class="slide-content-child">
                <img src="img/karczowanie.jpg" class="section-image">
                <br>
                karczowanie pni
            </div>
            <div class="slide-content-child">
                <img src="img/wywoz.jpg" class="section-image">
                <br>
                wywóz drzew i krzewów
            </div>
        </div>
    </div>
    <div class="slide">
        <div class="slide-content">
            <div class="slide-content-child">
                <i class="fas fa-check"></i>&ensp;zamówienie kontenera na odpady i resztki<br><br>
                <img src="img/kontenera.jpg" class="section-image">
            </div>
            <div class="slide-content-child">
                <i class="fas fa-check"></i>&ensp;wyrównanie ziemi<br><br>
                <img src="img/ziemne.jpg" class="section-image">
            </div>
        </div>
    </div>
    <div class="slide">
        <ul>
            <li><i class="fas fa-check"></i>&ensp;budowa systemu odprowadzenia i rozsączania wody deszczowej</li>
        </ul>
        <div class="slide-content">
            <div class="slide-content-child">
                <img src="img/odprowadzenia.jpg" class="section-image">
            </div>
            <div class="slide-content-child">
                <img src="img/rozsaczania.jpg" class="section-image">
            </div>
        </div>
    </div>
    <div class="slide">
        <ul>
            <li><i class="fas fa-check"></i>&ensp;rozprowadzenie instalacji oświetlenia</li>
        </ul>
        <div class="slide-content">
            <div class="slide-content-child">
                <img src="img/oswietlenie-01.jpg" class="section-image">
            </div>
            <div class="slide-content-child">
                <img src="img/oswietlenie-02.jpg" class="section-image">
            </div>
        </div>
    </div>
    <div class="slide">
        <ul>
            <li><i class="fas fa-check"></i>&ensp;montaż systemu automatycznego nawadniania</li>
        </ul>
        <div class="slide-content">
            <div class="slide-content-child">
                <img src="img/nawadnianie.jpg" class="section-image">
            </div>
            <div class="slide-content-child">
                <img src="img/orbit.jpg" class="section-image">
            </div>
            <div class="slide-content-child">
                <img src="img/hunter.jpg" class="section-image">
            </div>
        </div>
    </div>
    <div class="slide">
        <ul>
            <li><i class="fas fa-check"></i>&ensp;wyznaczenie i budowa rabat</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;nawiezienie ziemi urodzajnej</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;tworzenie oczek wodnych</li>
            <br>
        </ul>
    </div>
    <div class="slide">
        <ul>
            <li><i class="fas fa-check"></i>&ensp;wyznaczenie i budowa ścieżek</li>
        </ul>
        <div class="slide-content">
            <div class="slide-content-child">
                <img src="img/kostka.jpg" class="section-image">
                <br>
                kostka
            </div>
            <div class="slide-content-child">
                <img src="img/kamienie.jpg" class="section-image">
                <br>
                kamienie
            </div>
            <div class="slide-content-child">
                <img src="img/drzewo.jpg" class="section-image">
                <br>
                drzewo
            </div>
        </div>
    </div>
    <div class="slide">
        <ul>
            <li><i class="fas fa-check"></i>&ensp;budowa tarasów</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;budowa obrzeży (еko-bord, kostka, kamień, itd.)</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;zakładanie siatki przeciw kretom</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;nawiezienie ziemi urodzajnej</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;zakładanie trawnika z rolki, lub z siewu</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;tworzenie łąki</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;montaż agrowłókniny przeciw chwastowej</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;sadzenie roślin (drzew, krzewów, bylin, roślin sezonowych)</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;montaż linii kroplującej</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;korowanie rabat</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;wypełnianie rabat żwirem</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;dekorowanie ogrodu kamieniami</li>
        </ul>
    </div>
</div>
<div class="section">
    <div class="slide">
        <h2>Etap 3. Wiosenne porządkowanie oraz przygotowanie ogrodu do sezonu&ensp;<i class="fas fa-leaf"></i></h2>
        <br>
        <ul>
            <li><i class="fas fa-check"></i>&ensp;cięcie pielęgnacyjne roślin - минимум 1 раз в году, в зависимости от роста растения</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;cięcie prześwietlające krzewów i drzew</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;cięcie traw ozdobnych</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;pielenie rabat - или вырывать или прыскать</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;koszenie trawnika</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;aeracja trawnika</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;wertykulacja trawnika - вырывание сухой травы</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;grabienie trawnika oraz rabat</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;uruchomienie systemu automatycznego nawodnienia - выставлем режими</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;nawożenie trawnika</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;nawożenie krzewów i drzew</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;uzupełnianie rabat korą</li>
        </ul>
    </div>
    <div class="slide active">
        <h2>Etap 3. Pielęgnacja abonamentowa&ensp;<i class="fas fa-tint"></i></h2>
        <br>
        <ul>
            <li><i class="fas fa-check"></i>&ensp;koszenie trawnika</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;regeneracja trawnika</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;zwalczania chwastów</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;pielenie rabat</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;grabienie</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;cięcia pielęgnacyjne żywopłotów, drzew i krzewów</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;nawożenie (dostosowane do potrzeb)</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;obsługa systemów nawadniających</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;sprzątanie terenu</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;wywóz śmieci</li>
            <br>
        </ul>
    </div>
    <div class="slide">
        <h2>Etap 3. Jesienne przygotowanie ogrodu do sezonu zimowego&ensp;<i class="far fa-snowflake"></i></h2>
        <br>
        <ul>
            <li><i class="fas fa-check"></i>&ensp;związanie traw ozdobnych</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;spuszczenie i odpowietrzenie</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;systemu automatycznego nawodnienia</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;skoszenie trawnika</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;zgrabienie całego terenu</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;osłonięcie roślin przed wiatrem i mrozem - woloknina</li>
            <br>
            <li><i class="fas fa-check"></i>&ensp;zabezpieczenie bylin</li>
            <br>
        </ul>
    </div>
</div>
