
@{
    ViewData["Title"] = "Odśnieżanie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script type="text/javascript" src="~/js/fullpage/snow-fullpage.js"></script>
}
<div class="section">
    <div class="slide active">
        <p>Usługa jednorazowa</p>
        <p>Abonament</p>
    </div>
</div>
