
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script type="text/javascript" src="~/js/fullpage/blog-fullpage.js"></script>
}
<div class="section">
    <div class="slide active">
        <p>Blog</p>
    </div>
</div>
